<form action="/new-message" method="POST">
    <label for="message">wirte your message</label>
    <textarea name="message" id="message" rows="5" cols="10" required></textarea>

    <input type="submit" value="Submit Message" />
</form>