<form action="/signup" method="POST">
    <label for="fullName">Full Name: </label>
    <input type="text" name="fullName" id="fullName" required placeholder="slim shady"/>

    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required placeholder="Username" />

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required placeholder="Password" />

    <input type="submit" value="Create User" />
</form>