<form action="/upgrade-membership" method="POST">
    <label for="upgradeCode">Enter the code to be a member: </label>
    <input type="text" name="upgradeCode" id="upgradeCode" required placeholder="code is 'FREEDOM'" />

    <input type="submit" value="Become a member" />
</form>